/*li.word-hidden{

}

p.def-hidden{
  display: none;
}
*/
#clickable1{
  cursor: pointer;
}

#clickable2{
  cursor: pointer;
}

#clickable3{
  cursor: pointer;
}

#clickable4{
  cursor: pointer;
}

#clickable5{
  cursor: pointer;
}

#clickable6{
  cursor: pointer;
}

#clickable7{
  cursor: pointer;
}

#clickable8{
  cursor: pointer;
}
#clickable9{
  cursor: pointer;
}

#clickable10{
  cursor: pointer;
}

#clickable11{
  cursor: pointer;
}

#clickable12{
  cursor: pointer;
}
#clickable13{
  cursor: pointer;
}

#clickable14{
  cursor: pointer;
}
#clickable15{
  cursor: pointer;
}

#clickable16{
  cursor: pointer;
}

#clickable17{
  cursor: pointer;
}

#clickDef1{
  cursor: pointer;
}

#clickDef2{
  cursor: pointer;
}

#clickDef3{
  cursor: pointer;
}

#clickDef4{
  cursor: pointer;
}

#clickDef5{
  cursor: pointer;
}

#clickDef6{
  cursor: pointer;
}

#clickDef7{
  cursor: pointer;
}

#clickDef8{
  cursor: pointer;
}

#clickDef9{
  cursor: pointer;
}

#clickDef10{
  cursor: pointer;
}

#clickDef11{
  cursor: pointer;
}

#clickDef12{
  cursor: pointer;
}

#clickDef13{
  cursor: pointer;
}

#clickDef14{
  cursor: pointer;
}

#clickDef15{
  cursor: pointer;
}

#clickDef16{
  cursor: pointer;
}

#clickDef17{
  cursor: pointer;
}

#JavaScript{}
#Operators{}
#Variables{}
#Functions{}
#Methods{}
#Arguments{}
#Parameters{}
#Return{}
#Chaining-methods{}
#Strings{}
#Booleans{}
#Undefined{}
#NaN{}
#Escape{}
#Alert{}
#Comments{}
#jQuery{}
#Attributes{}

#def1{display: none;}
#def2{display: none;}
#def3{display: none;}
#def4{display: none;}
#def5{display: none;}
#def6{display: none;}
#def7{display: none;}
#def8{display: none;}
#def9{display: none;}
#def10{display: none;}
#def11{display: none;}
#def12{display: none;}
#def13{display: none;}
#def14{display: none;}
#def15{display: none;}
#def16{display: none;}
#def17{display: none;}
#def18{display: none;}
#def19{display: none;}
